services:
  postgres:
    image: postgres:15
    restart: always
    env_file:
      - .env.db
      
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: